	<section class="site-section " id="section-resume">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-5">
					<div class="section-heading text-center">
						<h2>My <strong>Resume</strong></h2>
					</div>
				</div>
                <!-- Inicio -->
				<div class="col-md-6">
					<h2 class="mb-5">Education</h2>


                    <!--Elementos a iterar de educacion -->

					<div class="resume-item mb-4">
						<span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
						<h3>Masteral in Information Technology</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
						<span class="school">New York University</span>
					</div>
                    <!-- Fin de iterador -->


				</div>